// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['iap-schemas.SchemasWidget']: './src/SchemasWidget.tsx',
['iap-schemas.SchemaManager']: './src/SchemaManager.tsx',
['iap-schemas.SchemaPage']: './src/SchemaPage.tsx',
['iap-schemas.SchemaVersionDetailsAction']: './src/SchemaVersionDetailsAction.tsx',
['iap-schemas.SchemaVersionActivateAction']: './src/SchemaVersionActivateAction.tsx',
['iap-schemas.SchemaVersionRetireAction']: './src/SchemaVersionRetireAction.tsx',
['iap-schemas.SchemaVersionDiscardAction']: './src/SchemaVersionDiscardAction.tsx',
['iap-schemas.SchemaVersionCompareAction']: './src/SchemaVersionCompareAction.tsx',
['iap-schemas.SchemaVersionNewVersionAction']: './src/SchemaVersionNewVersionAction.tsx',
['iap-schemas.SchemaNewVersionAction']: './src/SchemaNewVersionAction.tsx',
['iap-schemas.SchemaRenameAction']: './src/SchemaRenameAction.tsx',
['iap-schemas.SchemaRetireAction']: './src/SchemaRetireAction.tsx',
['iap-schemas.SchemaDiscardAction']: './src/SchemaDiscardAction.tsx'
