// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['iap-homepage.Homepage']: './src/homepage.tsx',
['iap-homepage.Dashboard']: './src/Dashboard.tsx',
['iap-homepage.WelcomeWidget']: './src/WelcomeWidget.tsx',
['iap-homepage.AppBar']: './src/AppBar.tsx',
['iap-homepage.Branding']: './src/Branding.tsx',
['iap-homepage.Footer']: './src/Footer.tsx',
['iap-homepage.DarkModeToggle']: './src/DarkModeToggle.tsx',
['iap-homepage.Notifications']: './src/Notifications.tsx',
['iap-homepage.UserMenu']: './src/UserMenu.tsx'
