// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['iap-homepage.Homepage']: './src/homepage/homepage.tsx',
['iap-homepage.Dashboard']: './src/homepage/Dashboard.tsx',
['iap-homepage.WelcomeWidget']: './src/homepage/WelcomeWidget.tsx'
