// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['iap-homepage.Homepage']: './src/homepage/homepage.tsx',
['iap-homepage.Dashboard']: './src/homepage/Dashboard.tsx',
['iap-homepage.WelcomeWidget']: './src/homepage/WelcomeWidget.tsx',
['iap-homepage.DateWidget']: './src/homepage/DateWidget.tsx',
['iap-homepage.QuoteWidget']: './src/homepage/QuoteWidget.tsx',
['iap-homepage.WeatherWidget']: './src/homepage/WeatherWidget.tsx',
['iap-homepage.TableWidget']: './src/homepage/TableWidget.tsx',
['iap-homepage.ThemeToggleWidget']: './src/homepage/ThemeToggleWidget.tsx'
