// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['iap-admin-console.AdminAccent']: './src/AdminAccent.tsx',
['iap-admin-console.AdminDashboard']: './src/AdminDashboard.tsx',
['iap-admin-console.AdminConsoleButton']: './src/AdminConsoleButton.tsx'
