// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['iap-workflows.WorkflowsWidget']: './src/WorkflowsWidget.tsx'
['iap-workflows.WorkflowConsole']: './src/WorkflowConsole.tsx'
['iap-workflows.WorkflowVersionViewAction']: './src/WorkflowVersionViewAction.tsx'
['iap-workflows.WorkflowVersionEditAction']: './src/WorkflowVersionEditAction.tsx'
['iap-workflows.WorkflowVersionActivateAction']: './src/WorkflowVersionActivateAction.tsx'
['iap-workflows.WorkflowVersionTrialAction']: './src/WorkflowVersionTrialAction.tsx'
['iap-workflows.WorkflowVersionRedraftAction']: './src/WorkflowVersionRedraftAction.tsx'
['iap-workflows.WorkflowVersionDraftAction']: './src/WorkflowVersionDraftAction.tsx'
