// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['iap-email-catcher.CaughtMailWidget']: './src/CaughtMailWidget.tsx'
['iap-email-catcher.CaughtMailBrowser']: './src/CaughtMailBrowser.tsx'
['iap-email-catcher.CaughtMessageView']: './src/CaughtMessageView.tsx'
