// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['iap-error-tracking.LoggedErrorsWidget']: './src/LoggedErrorsWidget.tsx',
['iap-error-tracking.LoggedErrorsBrowser']: './src/LoggedErrorsBrowser.tsx',
['iap-error-tracking.LoggedErrorView']: './src/LoggedErrorView.tsx'
