// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['iap-submissions.MySubmissionsWidget']: './src/MySubmissionsWidget.tsx',
['iap-submissions.MyReviewQueueWidget']: './src/MyReviewQueueWidget.tsx',
['iap-submissions.SubmissionView']: './src/SubmissionView.tsx',

['iap-submissions.BooleanAnswer']: './src/answers/BooleanAnswer.tsx',
['iap-submissions.ChoiceAnswer']: './src/answers/ChoiceAnswer.tsx',
['iap-submissions.DateAnswer']: './src/answers/DateAnswer.tsx',
['iap-submissions.FileAnswer']: './src/answers/FileAnswer.tsx',
['iap-submissions.NumberAnswer']: './src/answers/NumberAnswer.tsx',
['iap-submissions.TextAnswer']: './src/answers/TextAnswer.tsx'
